<!DOCTYPE html>
<html>
<head>
  <script type="text/javascript" src="{{ url_for('static', filename='javascript/main.js') }}"></script>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="../../static/style/style.css">
  <link rel="stylesheet" type="text/css" href="../../static/style/sliders.css">
  <link rel="stylesheet" type="text/css" href="../../static/style/client_style.css">
</head>
  <body>
    <div id="content">
      <div id="upper-strip">
        <div id="logo"></div>
        <div id="main-menu">
          <div class="menu-block"><a href="">Pizzeria</a></div>
          <div class="menu-block"><a href="">Menu</a></div>
          <div class="menu-block"><a href="">O nas</a></div>
          <div class="menu-block"><a href="">Kontakt</a></div>
          <div class="menu-block">
            {% if not logged_in %}
              <button onclick="open_popup_div(register_div)">utwórz konto</button>
            {% endif %}
            <div id="register_background" class="popup-background">
              <div id="register">
                <form action="http://localhost:5000/register" method="post">
                  <label>
                    imię:
                    <input name="first_name" type="text">
                  </label>
                  <label>
                    nazwisko:
                    <input name="last_name" type="text">
                  </label>
                  <label>
                    email:
                    <input name="email" type="text">
                  </label>
                  <label>
                    hasło:
                    <input name="password" type="password">
                  </label>
                  <label>
                    powtórz hasło:
                    <input name="repeat_password" type="password">
                  </label>
                  <label>
                    telefon:
                    <input phone="phone" type="text">
                  </label>
                  <label>
                    ulica:
                    <input name="street" type="text">
                  </label>
                  <label>
                    nr lokalu:
                    <input name="flat_nr" type="text">
                  </label>
                  <label>
                    miasto:
                    <input name="city" type="text">
                  </label>
                  <button onclick="close_popup_div(register_div)">utwórz konto</button>
                </form>
                <button onclick="close_popup_div(register_div)">zamknij okno</button>
              </div>
            </div>
            <script>
              var register_div = document.getElementById("register_background")
            </script>
            {% if not logged_in %}
              <button onclick="open_popup_div(login_div)">zaloguj</button>
            {% endif %}
            <div id="login_background" class="popup-background">
              <div id="login">
                <form action="http://localhost:5000/login" method="post">
                  <label>
                    email:
                    <input name="email" type="text">
                  </label>
                  <label>
                    hasło:
                    <input name="password" type="password">
                  </label>
                  <button onclick="close_popup_div(login_div)">zaloguj</button>
                </form>
                <button onclick="close_popup_div(login_div)">zamknij okno</button>
              </div>
            </div>
            <script>
              var login_div = document.getElementById("login_background")
            </script>
            {% if logged_in %}
            <form action="http://localhost:5000/profile">
              <button>pokaż konto</button>
            </form>
            {% endif %}
            <form action="http://localhost:5000/menu">
              <button>menu</button>
            </form>
          </div>
          </div>
        </div>
      </div>
      <div id="context">
        <div class="scroll-turn-on">
          Kliknij aby umożliwić scroll'owanie strony
          <label for="select1" class="switch">
          <input id="select1" type="checkbox">
          <span class="slider round"></span>
          <div id="largen"></div>
          </label>
        </div>
      </div>
    </div>
  </body>
</html>
