<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="../static/style/style.css">
    <link rel="stylesheet" type="text/css" href="../static/style/sliders.css">
    <link rel="stylesheet" type="text/css" href="../static/style/client_style.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style/client_style.css') }}">
    <script type="text/javascript" src="{{ url_for('static', filename='javascript/main.js') }}"></script>
    <title>Pizzeria Projekt</title>
  </head>
  <body>
    <div id="content">
      <div id="upper-strip">
        <div id="logo"></div>
        <div id="main-menu">
          <div class="menu-block"><a href="">Pizzeria</a></div>
          <div class="menu-block"><a href="{{ url_for('show_menu') }}">Menu</a></div>
          <div class="menu-block"><a href="">O nas</a></div>
          <div class="menu-block"><a href="">Kontakt</a></div>
          <div class="menu-block">
            {% if not logged_in %}
              <button class="button-menu" onclick="open_popup_div(register_div)">utwórz konto</button>
            {% endif %}
            <div id="register_background" class="popup-background">
              <div id="register" class="popup-div">
                <form action="{{ url_for('register') }}" method="post" class="label-form">
                  <label>
                    imię:
                    <input type="text" required name="first_name" placeholder="imię...">
                  </label>
                  <label>
                    nazwisko:
                    <input type="text" required name="last_name" placeholder="nazwisko...">
                  </label>
                  <label>
                    email:
                    <input type="email" required name="email" placeholder="email...">
                  </label>
                  <label>
                    hasło:
                    <input type="password" required name="password" id="password-input" placeholder="hasło...">
                  </label>
                  <label>
                    powtórz hasło:
                    <input type="password" required name="password2" id="confirm_password" placeholder="powtórz hasło...">
                  </label>
                  <label>
                    ulica:
                    <input type="text" required name="street" placeholder="ulica...">
                  </label>
                  <label>
                    nr lokalu:
                    <input type="text" required name="flat_nr" placeholder="numer mieszkania...">
                  </label>
                  <button type="submit" onclick="close_popup_div(register_div)">utwórz konto</button>
                </form>
                <button onclick="close_popup_div(register_div)">zamknij okno</button>
              </div>
            </div>
            <script>
                var password = document.getElementById("password-input")
                  , confirm_password = document.getElementById("confirm_password");

                function validatePassword(){
                  if(password.value != confirm_password.value) {
                    confirm_password.setCustomValidity("Hasła nie są takie same");
                  } else {
                    confirm_password.setCustomValidity('');
                  }
                }

                password.onchange = validatePassword;
                confirm_password.onkeyup = validatePassword;
              var register_div = document.getElementById("register_background")
            </script>
            {% if not logged_in %}
              <button class="button-menu"  onclick="open_popup_div(login_div)">zaloguj</button>
            {% endif %}
            <div id="login_background" class="popup-background">
              <div id="login" class="popup-div">
                <form action="{{ url_for('login') }}" method="post">
                  <label>
                    email:
                    <input type="text" required name="email" placeholder="email...">
                  </label>
                  <label>
                    hasło:
                    <input type="password" required name="password" placeholder="hasło...">
                  </label>
                  <label>
                  <button type="submit" onclick="close_popup_div(login_div)">zaloguj</button>
                  </label>
                </form>
                <button onclick="close_popup_div(login_div)">zamknij okno</button>
              </div>
            </div>
            <script>
              var login_div = document.getElementById("login_background")
            </script>
            {% if logged_in %}
            <form action="{{url_for('user_profile') }}" method="get">
              <button class="button-menu"  type="submit">pokaż konto</button>
            </form>
            <form action="{{ url_for('logout') }}"  method="post">
              <button class="button-menu"  type="submit">wyloguj</button>
            </form>
            {% endif %}
          </div>
          </div>
        </div>
      </div>
      <div id="context">
        <div class="scroll-turn-on">
          Kliknij aby umożliwić scroll'owanie strony
          <label for="select1" class="switch">
          <input id="select1" type="checkbox">
          <span class="slider round"></span>
          <div id="largen"></div>
          </label>
        </div>
      </div>
    </div>
  </body>
</html>
