<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="../static/style/style.css">
    <link rel="stylesheet" type="text/css" href="../static/style/sliders.css">
    <link rel="stylesheet" type="text/css" href="../static/style/client_style.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style/client_style.css') }}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='javascript/main.js') }}"></script>
    <title>Pizzeria Projekt</title>
  </head>
  <body>
    <div id="content">
      <div id="upper-strip">
        <div id="logo"></div>
        <div id="main-menu">
          <div class="menu-block"><a href="">Pizzeria</a></div>
          <div class="menu-block"><a href="{{ url_for('show_menu') }}">Menu</a></div>
          <div class="menu-block"><a href="">O nas</a></div>
          <div class="menu-block"><a href="">Kontakt</a></div>
          <div class="menu-block">
            {% if not logged_in %}
              <button class="button-menu" onclick="open_popup_div(register_div)">utwórz konto</button>
            {% endif %}
            {% if not logged_in %}
              <button class="button-menu"  onclick="open_popup_div(login_div)">zaloguj</button>
            {% endif %}
            {% if logged_in %}
            <form action="{{url_for('user_profile') }}" method="get">
              <button class="button-menu"  type="submit">pokaż konto</button>
            </form>
            <form action="{{ url_for('logout') }}"  method="post">
              <button class="button-menu"  type="submit">wyloguj</button>
            </form>
            {% endif %}
          </div>
          </div>
        </div>
      </div>
      <div id="context">
        <div class="scroll-turn-on">
          Kliknij aby umożliwić scroll'owanie strony
          <label for="select1" class="switch">
          <input id="select1" type="checkbox">
          <span class="slider round"></span>
          <div id="largen"></div>
          </label>
        </div>
        <div id="register_background" class="popup-background">
          <div id="register" class="popup-div">
            <form action="{{ url_for('register') }}" method="post" class="form-horizontal">
              <div class="form-group">
                <label class="control-label col-sm-2">
                  imię:
                </label>
                <div class="col-sm-10">
                  <input class="form-control"  type="text" required name="first_name" placeholder="imię...">
                </div>
              </div>
              <div class="form-group">
                <label class="control-label col-sm-2">
                  nazwisko:
                </label>
                <div class="col-sm-10">
                  <input class="form-control" type="text" required name="last_name" placeholder="nazwisko...">
                </div>
              </div>
              <div class="form-group">
                <label class="control-label col-sm-2">
                  email:
                </label>
                <div class="col-sm-10">
                  <input class="form-control" type="email" required name="email" placeholder="email...">
                </div>
              </div>
              <div class="form-group">
                <label class="control-label col-sm-2">
                  hasło:
                </label>
                <div class="col-sm-10">
                  <input class="form-control" type="password" required name="password" id="password-input" placeholder="hasło...">
                </div>
              </div>
              <div class="form-group">
                <label class="control-label col-sm-2">
                  powtórz hasło:
                </label>
                <div class="col-sm-10">
                  <input class="form-control"  type="password" required name="password2" id="confirm_password" placeholder="powtórz hasło...">
                </div>
              </div>
              <div class="form-group">
                <label class="control-label col-sm-2">
                  ulica:
                </label>
                <div class="col-sm-10">
                  <input class="form-control" type="text" required name="street" placeholder="ulica...">
                </div>
              </div>
              <div class="form-group">
                <label class="control-label col-sm-2">
                  nr lokalu:
                </label>
                <div class="col-sm-10">
                  <input class="form-control" type="text" required name="flat_nr" placeholder="numer mieszkania...">
                </div>
              </div>
              <button type="submit" onclick="close_popup_div(register_div)">utwórz konto</button>
            </form>
            <button onclick="close_popup_div(register_div)">zamknij okno</button>
          </div>
        </div>
        <script>
            var password = document.getElementById("password-input")
              , confirm_password = document.getElementById("confirm_password");

            function validatePassword(){
              if(password.value != confirm_password.value) {
                confirm_password.setCustomValidity("Hasła nie są takie same");
              } else {
                confirm_password.setCustomValidity('');
              }
            }

            password.onchange = validatePassword;
            confirm_password.onkeyup = validatePassword;
          var register_div = document.getElementById("register_background")
        </script>
        <div id="login_background" class="popup-background">
          <div id="login" class="popup-div">
            <form action="{{ url_for('login') }}" method="post" class="form-horizontal">
              <div class="form-group">
                <label class="control-label col-sm-2">
                  email:
                </label>
                <div class="col-sm-10">
                  <input class="form-control" type="email" required name="email" placeholder="email...">
                </div>
              </div>
              <div class="form-group">
                <label class="control-label col-sm-2">
                  hasło:
                </label>
                <div class="col-sm-10">
                  <input class="form-control" type="password" required name="password" placeholder="hasło...">
                </div>
              </div>
              <label>
              <button type="submit" onclick="close_popup_div(login_div)">zaloguj</button>
              </label>
            </form>
            <button onclick="close_popup_div(login_div)">zamknij okno</button>
          </div>
        </div>
        <script>
          var login_div = document.getElementById("login_background")
        </script>
      </div>
  </body>
</html>
