<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Menu</title>
</head>
<body>
    <form action="http://localhost:5000/show_order" , method="post">
        <label>
            {% for pizza in pizzas %}
                {{ pizza }}
                {% if logged_in %} <!-- jak użytkownik jest zalogowany to wyświetli checkboxy -->
                    <input type="number" name="{{ pizza.id }}" min="1" max="5">
                    <select>
                        <option value="small">Mała</option>
                        <option value="medium">Średnia</option>
                        <option value="large">Duża</option>
                    </select>
                {% endif %}
                <br>
                <p>Dodatki: </p>
                {% for topping in toppings %}
                    {% if logged_in %} <!-- jak użytkownik jest zalogowany to wyświetli checkboxy -->
                        <input type="checkbox" name="check_group_topping" value="{{ pizza.id }}.{{ topping.id }}">
                    {% endif %}
                    {{ topping }}
                {% endfor %}
                <br><br><br>
            {% endfor %}
            {% for drink in drinks %}
                {% if logged_in %} <!-- jak użytkownik jest zalogowany to wyświetli checkboxy -->
                    <input type="checkbox" name="check_group_drink" value="drink{{ drink.id }}">
                {% endif %}
                {{ drink }}
                <br>
            {% endfor %}
        </label><br>
        {% if logged_in %}
            <button class="close_button">zamów</button>
        {% endif %}
    </form>
    <form action="http://localhost:5000/" method="get">
        <button type="submit">powrót</button>
    </form>
</body>
</html>