<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="../static/style/style.css">
    <link rel="stylesheet" type="text/css" href="../../static/style/style.css">
    <script type="text/javascript" src="{{ url_for('static', filename='javascript/main.js') }}"></script>
    <title>Menu</title>
</head>
<body>
    {% for pizza in pizzas %}
        {% if logged_in %}
            <form action="{{ url_for('add_to_cart') }}"  method="post">
        {% endif %}
        {{ pizza }}
        {% if logged_in %} <!-- jak użytkownik jest zalogowany to wyświetli checkboxy -->
            <label>
                <input type="number" name="{{ pizza.id }}" min="1" max="5" value="1">
            </label>
            <label>
                <select name="select_size">
                    <option value="small">Mała</option>
                    <option value="medium">Średnia</option>
                    <option value="large">Duża</option>
                </select>
            </label>
            {% endif %}
        <br>
        <p>Dodatki: </p>
        {% for topping in toppings %}
            {% if logged_in %} <!-- jak użytkownik jest zalogowany to wyświetli checkboxy -->
                <label>
                    <input type="checkbox" name="check_group_topping" value="{{ topping.id }}">
                </label>
            {% endif %}
            {{ topping }},
        {% endfor %}
        <br>
            {% if logged_in %}
                <button type="submit">Dodaj do koszyka</button>
            {% endif %}
        {% if logged_in %}
        </form>
        {% endif %}
        <br><br><br>
    {% endfor %}
    {% for drink in drinks %}
        {{ drink }}
        {% if logged_in %} <!-- jak użytkownik jest zalogowany to wyświetli checkboxy -->
        <form action="{{ url_for('add_drink_to_cart') }}" method="post">
            <label>
                <input type="hidden" name="drink" value="{{ drink.id }}">
            </label>
            <button type="submit">Dodaj do koszyka</button>
        </form>
        <br>
        {% endif %}
    {% endfor %}
    <!--</label>-->
    <br>
    {% if logged_in %}
        <form action="{{ url_for('show_cart') }}" method="get">
            <button class="basket" class="close_button">przejdź do koszyka</button>
        </form>
    {% endif %}
    
    
        <form action="{{ url_for('index') }}" method="get">
            <button class="basket" type="submit">powrót</button>
        </form>
    </div>
    </div>
    </div>
</body>
</html>
