body {
  background-color: #efefef;
  margin: 0;
}
/* guest */

#login {
    background-color: #535353;
    text-align: center;
    overflow: auto;
    position: fixed;
    border: none;
    width: 50%;
    height: 30%;
    right: 25%;
    top: 25%;
    z-index: 100;
    border-radius: 10px 10px 200px 200px;
    -moz-border-radius: 200px 200px 200px 200px;
    -webkit-border-radius: 10px 10px 10px 10px;
}

#register {
    background-color: #535353;
    text-align: center;
    overflow: auto;
    position: fixed;
    border: none;
    width: 50%;
    padding: 20px;
    right: 25%;
    top: 18%;
    border-radius: 10px 10px 200px 200px;
    -moz-border-radius: 200px 200px 200px 200px;
    -webkit-border-radius: 10px 10px 10px 10px;
}

#login, #register, #profile, #password {
    font-size: 30px;
    color: white;
    font-family: Helvetica;
    font-weight: bold;
    color: white;
    text-align: center;
}

.popup-background {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
}

/* user */

#profile {
    background-color: #535353;
    overflow: auto;
    position: fixed;
    border: none;
    width: 50%;
    height: 40%;
    right: 25%;
    top: 25%;
    border-radius: 10px 10px 200px 200px;
    -moz-border-radius: 200px 200px 200px 200px;
    -webkit-border-radius: 10px 10px 10px 10px;
}

#profile_body {
  background-size: cover;
  background-image: url("/static/images/pizzabig_dark.jpg");
  color: white;
}

#password {
    background-color: #535353;
    text-align: center;
    overflow: auto;
    position: fixed;
    border: none;
    width: 50%;
    height: 30%;
    right: 25%;
    top: 25%;
        border-radius: 10px 10px 200px 200px;
    -moz-border-radius: 200px 200px 200px 200px;
    -webkit-border-radius: 10px 10px 10px 10px;
}


/* order */

#address {
    background-color: #535353;
    text-align: center;
    overflow: auto;
    position: fixed;
    border: none;
    width: 50%;
    height: 25%;
    right: 0%;
    top: 25%;
}

#info_popup {
    background-color: #2196F3;
    text-align: center;
    overflow: auto;
    position: fixed;
    border: none;
    width: 50%;
    height: 25%;
    right: 25%;
    top: 25%;
}

/* general */

form label {
    display: block;
}


#container-info {
    width: 1000px;
    margin: 0 auto;
    text-align: left;
}

#container-info .button-profile {
    background-color: #428BCA;
    width: 330px;
    height: 50px;
    border: none;
    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    font-size: 21px;
    color: white;
    margin: 20px 0;
}

#container-info .button-profile.return {
    width: 100%;
}

.button-menu {
    background-color: #535353;
    width: 130px;
    height: 28px;
    border: none;
    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    font-size: 15px;
    color: white;
    margin: 0px 0;
}
