/* guest */

#login {
    background-color: #2196F3;
    text-align: center;
    overflow: auto;
    position: fixed;
    border: none;
    width: 50%;
    height: 40%;
    right: 0%;
    top: 23%;
}

#register {
    background-color: #2196F3;
    display: inline-block;
    text-align: center;
    overflow: auto;
    position: fixed;
    border: none;
    width: 50%;
    height: 60%;
    right: 0%;
    top: 15%;
}

.popup-background {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
}

/* user */

#profile {
    background-color: #2196F3;
    text-align: center;
    overflow: auto;
    position: fixed;
    border: none;
    width: 50%;
    height: 40%;
    right: 0%;
    top: 25%;
}

#password {
    background-color: #2196F3;
    text-align: center;
    overflow: auto;
    position: fixed;
    border: none;
    width: 50%;
    height: 25%;
    right: 0%;
    top: 25%;
}


/* order */

#address {
    background-color: #2196F3;
    text-align: center;
    overflow: auto;
    position: fixed;
    border: none;
    width: 50%;
    height: 25%;
    right: 0%;
    top: 25%;
}

#info_popup {
    background-color: #2196F3;
    text-align: center;
    overflow: auto;
    position: fixed;
    border: none;
    width: 50%;
    height: 25%;
    right: 25%;
    top: 25%;
}

/* general */

form label {
    display: block;
}
